.services-item i {
    /*font-size: 38px;
    color: #DDD;
    border: 1px solid #DDD;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    line-height: 100px;*/
    
    transition: all 0.25s ease 0s;
}
h1#logo {
    margin-bottom: 0px;
}

.services-item:hover i {
    background-color:  #7CC143;
    border-color: #7CC143;
    transition: all 0.25s ease 0s;
    -moz-border-radius: 70px; 
    -webkit-border-radius: 70px; 
    border-radius: 70px;
}
