

    <br><br><br>
    <div class="col-md-12">
    <div class="panel panel-default">
        <div class="panel-heading">
            <div class="input-group">
                <input type="text" class="form-control" ng-model="buscar">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                    </button>
                </span>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Descripcion</th>
                        <th>Logo</th>
                        <th colspan="2"><a ng-href="#/nuevoAlbum" class="btn btn-primary btn-sm pull-right">Nuevo Album <span class="glyphicon glyphicon-plus"></span></a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="info" ng-repeat="Album in Albums | orderBy:'Nombre' | filter:buscar">
                        <td>{{ Album.Nombre }}</td>  
                        <td>{{ Album.Descripcion }}</td>
                        <td><img ng-src="../../../{{ Album.Logo }}" style="max-width: 400px" placeholder="Album"></td>
                        <td><a ng-href="#/nuevoAlbum/{{Album.AlbumId}}" class="btn btn-warning btn-sm">Editar <span class="glyphicon glyphicon-pencil"></span></a></td>
                        <td><a ng-click="eliminarAlbum(Album.AlbumId)" class="btn btn-danger btn-sm">Eliminar <span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                </tbody>        
            </table>
        </div>
    </div>
</div>