<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-body">
       <ng-form class="form-horizontal" role="form">
          <fieldset>

            <!-- Form Name -->
            <legend ng-if="nuevo">Nuevo Recurso</legend>            
            <legend ng-if="editar">Editar Recurso</legend>
            
           <!-- Text input-->
            <div class="form-group">
                <label class="col-sm-4 control-label" for="textinput">Recurso</label>
              <div class="col-sm-8">
                <input type="file" class="form-control filestyle" data-icon="false" nv-file-select uploader="uploader"/>
              </div>
            </div>


            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="pull-right">
                  <a ng-href="#/nuevoAlbum/{{AlbumId}}" class="btn btn-danger">Cancelar</a>
                  <a ng-click="saveResource()" class="btn btn-success">Guardar</a>
                </div>
              </div>
            </div>

          </fieldset>
       </ng-form>
    </div>
  </div>
</div><!-- /.col-lg-12 -->