<br><br><br>
<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-body">
       <ng-form class="form-horizontal" role="form">
          <fieldset>

            <!-- Form Name -->
            <legend ng-if="nueva">Nuevo Album</legend>            
            <legend ng-if="editar">Editar Album</legend>


            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Nombre del Album<span class="obligatorio asterisco">*</span></label>
              <div class="col-sm-8">
                <input type="text" placeholder="Nombre de la Album" ng-required="true" ng-model="Album.Nombre" class="form-control">
              </div>
            </div>
            
            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Descripci&oacute;n del Album</label>
              <div class="col-sm-8">
                  <input type="text" placeholder="Descripci&oacute;n del Album" ng-required="true" ng-model="Album.Descripcion" class="form-control">
              </div>
            </div>
            <!-- Text input-->
            <div class="form-group">
              <label class="col-sm-4 control-label" for="textinput">Imagen del album</label>
              <div class="col-sm-8">
                  <input type="file" class="form-control filestyle" data-icon="false" nv-file-select uploader="uploader"/>
                  <a ng-click="saveResource()" class="btn btn-success btn-block" style="margin-top: 10px;">Cambiar logo</a>
              </div>
            </div>
            <p class="obligatorio">Todos los campos marcados con * son obligatorios</p>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="pull-right">
                  <a ng-href="#/editarAlbum" class="btn btn-danger">Cancelar</a>
                  <a ng-click="guardarAlbum()" class="btn btn-success">Guardar</a>
                </div>
              </div>
            </div>
            
            <table class="table table-striped table-hover table-bordered" ng-if="editar">
                <thead>
                    <tr>
                        <th>Archivo</th>
                        <th>Ver</th>
                        <th><a ng-href="#/nuevaImagen/{{Album.AlbumId}}" class="btn btn-primary btn-sm pull-right">Nueva Imagen <span class="glyphicon glyphicon-plus"></span></a></th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="primary" ng-repeat="Imagen in Imagenes | orderBy:'ImagenId'">
                        <td>{{Imagen.Nombre}}</td>
                        <td><a ng-click="verArchivo(Imagen.Path)" class="btn btn-success btn-sm">Ver imagen <span class="glyphicon glyphicon-file"></span></a></td>
                        <td><a ng-click="eliminarImagen(Imagen.ImagenId)" class="btn btn-danger btn-sm">Eliminar <span class="glyphicon glyphicon-trash"></span></a></td>
                    </tr>
                </tbody>        
            </table>

          </fieldset>
       </ng-form>
    </div>
  </div>
</div>